<div class="container">
  <div class="row">
    <div class="col-md-3">
        <p class="lead">e-Book Shop </p>
        <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h2>List of Books</h2></div>
        <div class="panel-body">
          <p>Sales by Book via ApiREST.</p>
          <p>
            Click on book to get sales details
          </p>
        </div>
        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th>
                Name
              </th>
              <th>
                Total Sales
              </th>
            </tr>
          </thead>
          <tbody>
              <tr class="clickablerow" ng-repeat="book in books | orderBy:'-total_sales'"  ng-click="details(book)" >
              <td>
                {{book.name}}
              </td>
              <td>
                {{book.total_sales}}
              </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h1>Details of sales of: {{tempBook.name}} </h1>
      </div>
      <div class="panel-body">
        <div class="pull-right" style="font-size:2.5em;">Total: {{total | currency}}</div>
      </div>
      <!-- Table saleDetails -->
      <table class="table">
        <thead>
          <tr>
            <th>
              id
            </th>
            <th>
              Date of Sale
            </th>
            <th>
              Total sale amount
            </th>
            <th>
              # Book
            </th>
            <th>
              Price
            </th>
            <th>
              Book Total
            </th>
          </tr>
        </thead>
        <tbody>

          <tr ng-repeat="det in saleDetails | orderBy:'-dateofsale'">
            <td>
              {{det.id}}
            </td>
            <td>
              {{det.dateofsale}}
            </td>
            <td>
              {{det.amount}}
            </td>
            <td>
              {{det.pivot.num_books}}
            </td>
            <td>
              {{det.pivot.book_curr_val}}
            </td>
            <td>
              {{det.pivot.book_curr_val * det.pivot.num_books | currency }}
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    </div>
  </div>

</div>
